body {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	background-color: lightcyan;
}

h1 {
	color: #04465E;
	margin-bottom: 12px;
}

h4 {
	color: #04465E;
}

label {
	color: #04465E;
}

.container {
	display: flex;
	flex-direction: column;
	margin: 12px;
	align-items: center;
}

.entry {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background-color: lightblue;
	border: 2px solid;
	border-color: #045C7C;
	margin-bottom: 24px;
}

input {
	width: 300px;
}

.name_div, .email_div {
	display: flex;
	justify-content: space-evenly;
	margin-top: 16px;
	margin-bottom: 16px;
}

.message_div {
	display: flex;
	flex-direction: column;
}

button {
	color: #04465E;
	border-color: #045C7C;
	margin-top: 16px;
	margin-bottom: 16px;
}

.entries {
	display: flex;
	width: 100%;
}

table, th, td {
	border-collapse: collapse;
	text-align: left;
	vertical-align: top;
	font-size: 12px;
	background-color: lightblue;
}

table {
	min-width: 500px;
	border: 2px solid;
	border-color: #045C7C;
	width: 100%;
}

caption {
	border: 2px solid;
	border-bottom: unset;
	border-color: #045C7C;
	font-size: 18px;
	background-color: #0780AC;
}

th, td {
	border-bottom: 1px solid;
	border-color: #045C7C;
	padding-left: 5px;
	padding-right: 5px;
	white-space: nowrap;
	max-width: 220px;
	overflow: hidden;
	text-overflow: ellipsis;
}

th {
	background-color: #78D5F6;
}

#name {
	max-width: 150px;
}


#msg {
	white-space: normal;
	width: 100%;
	max-width: unset;
}
